<div className="flex">
    <div className="ml-16 my-16 w-1/2">
      <h2 className="font-medium leading-tight text-4xl mt-0 mb-10 text-blue-600 capitalize">{cType + "s"}</h2>
      <div className="w-full">
        <Table tableProps={tableProps}></Table>
      </div>
    </div>
    <div className="ml-16 my-16 w-1/3">
      <h2 className="font-medium leading-tight text-4xl mt-0 text-blue-600 pb-10">Add New:</h2>
      <Form  cType={cType} pType={pType} setComponents={this.setComponents} ></Form>
    </div>
  </div>
