<div id="navbar" class="border border-black  flex justify-between  m-4  px-4  rounded-lg mx-10">
  <div id="navbar-main-menu" class="columns-2 p-6 flex">
    <a id="navlink-home" class="font-bold p-6 navlink" routerLink="/">
      Time Tracker
    </a>
    <a id="navlink-projects" class="p-6" routerLink="/projects">
      Projects
    </a>
    <a id="navlink-tasks" class="p-6" routerLink="/tasks">
      Tasks
    </a>
    <a id="navlink-entries" class="p-6" routerLink="/timer">
      Timer
    </a>
    <a id="navlink-entries" class="p-6" routerLink="/records">
      Manual Override
    </a>
    <button>Sign out</button>
  </div>
  <div id="navbar-auth-menu" class="p-6 columns-2">
  </div>
</div>
